<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>California Edible Mushroom Guide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body>
    <h1>California Edible Mushrooms</h1>
    <hr> {% block content %} {% endblock %}
    <hr>
    <div id='warning'>
        <h5><i id='warnIcon' class="fas fa-exclamation-triangle"></i>Warning: do not pick wild mushrooms unless you absolutely know what you are picking</h5>
    </div>

    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js'></script>
</body>

</html>