{% extends "base.html" %}
{% block content %}
<form action="{{ url_for('create') }}" method='POST'>
  <div>
    <label for="comm_name">Common Name:
        <input type="text" name='comm_name' id='comm_name'>
    </label>
  </div>
  <div>
    <label for="lat_name">Latin Name:
        <input type="text" name='lat_name' id='lat_name'>
    </label>
  </div>
  <div>
    <label for="sym_assoc">Symbiotic Associations:
        <input type="text" name='sym_assoc' id='sym_assoc'>
    </label>
  </div>
  <div>
    <input type="submit">
  </div>
</form>
<a href="{{ url_for('index') }}">Return to home</a>
{% endblock %}